server {
        listen       {{ nginx_port }};
        server_name  _;

location @nodejs {
      sendfile off;
      proxy_pass         http://{{ nodejs_host }}:{{ nodejs_port }};
      proxy_redirect     off;
      proxy_http_version 1.1;

      proxy_set_header   Host              $host;
      proxy_set_header   X-Real-IP         $remote_addr;
      proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
      proxy_max_temp_file_size 0;

      client_max_body_size       10m;
      client_body_buffer_size    128k;

      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;
      proxy_request_buffering    off;
  }

   location /probe_local {
    default_type "text/html";
    alias /var/www/local.html;
  }

 location /probe_applicant {
    default_type "text/html";
    alias /var/www/availability.html;
  }


 location /* {
     return 301 {{ fav_site }};
    }

 location /probe_remote {
     try_files $uri @nodejs;
    }
}

